// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #4bb359;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #e9be4a;

// Status Pedido Colors
$yellow-1    : #fff890;
$yellow-2    : #fff9c2;
$green-1     : #83e487;
$green-2     : #bee2c1;
$blue-1      : #8ebafc;
$blue-2      : #cce8fc;

.bg-yellow-1 {
  background-color: $yellow-1 !important;
}
.bg-yellow-2 {
  background-color: $yellow-2 !important;
}
.bg-green-1 {
  background-color: $green-1 !important;
}
.bg-green-2 {
  background-color: $green-2 !important;
}
.bg-blue-1 {
  background-color: $blue-1 !important;
}
.bg-blue-2 {
  background-color: $blue-2 !important;
}

.q-toolbar__title {
  flex-grow: 2;
}

.text-negative {
  color: red !important;
}

.input-size-content{
  width: fit-content;
} 

.unidade-select {
  padding-bottom: 0 !important;
}

.justify-self-end {
  justify-self: end !important;
}